<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.lxy.androiddemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application

        android:name=".activity.base.DemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".activity.recycleview.CityActivity"
            android:label="@string/activity_city"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.spinkit.SpinkitActivity"
            android:label="@string/activity_spinkit"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.recycleview.GridActivity"
            android:label="@string/activity_grid"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.recycleview.StaggeredActivity"
            android:label="@string/activity_staggered"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.recycleview.PhotoActivity"
            android:label="@string/activity_photo"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.rxjava.RxJavaActivity"
            android:label="@string/activity_rxjava"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.retrofit.JakeWhartonReposActivity"
            android:label="@string/activity_jake_wharton"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.widget.LabelValueActivity"
            android:label="@string/activity_label_value"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.greendao.NoteActivity"
            android:label="@string/activity_note"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.greendao.AddNoteActivity"
            android:label="@string/activity_note"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme">

        </activity>
        <activity
            android:name=".activity.glide.GlideActivity"
            android:label="@string/activity_glide"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.chat.ChatActivity"
            android:label="@string/activity_chat"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.mvp.MvpReposActivity"
            android:label="@string/activity_mvp"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
